* {
	padding: 0;
	margin: 0;
}

h1 {
	font-family: Consolas, monaco, monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Consolas, monaco, monospace;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Consolas, monaco, monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

html {
	box-sizing: border-box;
	font-family: Consolas, monaco, monospace;
	background: black;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.wrapper {
	width: 801px;
	margin: 100px auto;
	position: relative;
}

.slot-machine {
	margin-top: 300px;
	border: 1px solid black;
	width: 801px;
	height: 535px;
	background: url('/img/bg.PNG');
	white-space: nowrap;
	text-align: center;
	margin: 0 auto;
	position: relative;
}
.slot {
	width: 160px;
	height: 290px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	position: absolute;
	top: 163px;
}
#slot-1st {
	left: 28px;
	color: #F44336;
	font-size: 150px;
}

#slot-2nd {
	left: 229px;
	color: #8BC34A;
	font-size: 150px;
}

#slot-3rd {
	left: 426px;
	color: #2196F3;
	font-size: 150px;
}

.slot > ul {
	position: absolute;
	list-style: none;
	left: 0;
	top: 0;
}
.slot > ul > li {
	display: block;
	width: 160px;
	height: 290px;
	line-height: 290px;
	text-align: center;
	font-weight: bold;
}

.control {
	text-align: center;
	margin-top: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.control > button {
	/*font-size: 50px;*/
	font-family: Consolas, monaco, monospace;
	padding: 20px;
	opacity: 0;
	cursor: pointer;
	width: 190px;
}

.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
	opacity: 0;
	}
}
